<div id="container">
  <img id="card-image"
    [src]="image.image | blobToUrl | safe: 'url'"
    [alt]="image.caption">

  <div id="info">
    <div id="content">
      <div id="caption"><i>"{{ image.caption | sentenceCase }}."</i></div>
      <div id="timestamp">{{ image.timestamp | date }}</div>
    </div>

    <div id="type-badge">
      <ng-container *ngIf="image.type === 'uploaded'">
        <mat-icon>cloud_queue</mat-icon>
      </ng-container>
      <ng-container *ngIf="image.type === 'captured'">
        <mat-icon>camera_alt</mat-icon>
      </ng-container>
      <ng-container *ngIf="image.type === 'loaded'">
        <mat-icon>link</mat-icon>
      </ng-container>
    </div>
  </div>
</div>

